# Python environment
venv/
.venv/
__pycache__/
*.pyc

# Data files (Never commit large raw data to Git)
data/
*.csv
*.xlsx

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.dbs